<%- include ('templates/header'); -%>

		<nav>
           <a href="/homeSignedIn"><strong>Home</strong></a>
           <a href="/myRecipes">My Recipes</a>
           <a href="/">Log Out</a>
           <a href="/createRecipe">Create Recipe</a>
        </nav>
        <hr>
        <h3>Signed in as <%=user%></h3>
        
        <h1 class="jumbotron"> Food and Recipe Search</h1>
    	<hr>

        <form action='/searchResult' method='GET'>
            
        Keyword: <input type="text" name="keyword" id="keyword"><br><br>
       
        <button id="searchBtn" class="btn btn-primary">Search</button>

        <br>
            
        </form>
             
    </body>
		
<%- include ('templates/footer'); -%>