<%- include ('templates/header'); -%>

		<nav>
            <a href="/"><strong>Home</strong></a>
            <a href="/login">Log In</a>
        </nav>
        <hr>

        <h1 class="jumbotron"> Food and Recipe Search </h1>
    	<hr>

        <form action='/searchResult' method='GET'>
            
        Food Name: <input type="text" name="keyword" id="keyword"><br><br>
       
        <button id="searchBtn" class="btn btn-primary">Search</button>

        <br>
            
        </form>
             
    </body>
		
<%- include ('templates/footer'); -%>