<%- include ('templates/header'); -%>

		<nav>
           <a href="/"><strong>Home</strong></a>
           <a href="/myRecipes">Saved</a>
           <a href="/createRecipe">Create Recipe</a>
           <a href="/recipeList">Recipe List</a>
           <a href="/logout">Log Out</a>
        </nav>
        <hr>
        
        <h1 class="jumbotron"> Food and Recipe Search</h1>

        <form action='/searchSignedIn' method='GET'>
            
        Keyword: <input type="text" name="keyword" id="keyword"><br><br>
       
        <button id="searchBtn" class="btn btn-primary">Search</button>

        <br>
            
        </form>
        
        <br><br><br><br><br>
        
        <div id="usernameDisplay">
            <h4>Signed in as <%=user%></h4>
        </div>
        
             
    </body>
		
<%- include ('templates/footer'); -%>